@model UserPreferencesViewModel

<form method="post" asp-action="Preferences">
    <h2>Select Your Favorite Cuisine Types</h2>

    @foreach (var cuisineType in Model.AvailableCuisineTypes)
    {
        <div>
            <input class="form-check-input"  type="checkbox" name="SelectedCuisineTypes" value="@cuisineType" />
            <label class="form-check-label">@cuisineType</label>
        </div>
        
    }
    <button type="submit">Save Preferences</button>
</form>
