@page
@model PreferencesModel
@{
    ViewData["Title"] = "Your Preferences";
}

<div class="p-4">
    <h4>Your cuisine types:</h4>
    @if (Model.UserCuisineTypes.Any())
    {
        <ul>
            @foreach (var cuisineType in Model.UserCuisineTypes)
            {
                <li>@cuisineType.Name</li>
            }
        </ul>
    }
    else
    {
        <p>No favorite cuisines set.</p>
    }

    <a asp-page="SelectCuisineTypes" class="w-auto btn btn-primary">Update cuisine types</a>
</div>

<div class="p-4">
    <h4>Your diet labels:</h4>
    @if (Model.UserDietLabels.Any())
    {
        <ul>
            @foreach (var dietLabel in Model.UserDietLabels)
            {
                <li>@dietLabel.Name</li>
            }
        </ul>
    }
    else
    {
        <p>No diet options set.</p>
    }

    <a asp-page="SelectDietLabels" class="w-auto btn btn-primary">Update diet labels</a>
</div>

<div class="p-4">
    <h4>Your health labels:</h4>
    @if (Model.UserHealthLabels.Any())
    {
        <ul>
            @foreach (var healthLabel in Model.UserHealthLabels)
            {
                <li>@healthLabel.Name</li>
            }
        </ul>
    }
    else
    {
        <p>No health options set.</p>
    }

    <a asp-page="SelectHealthLabels" class="w-auto btn btn-primary">Update health labels</a>
</div>
